body{
    color: rgb(94, 154, 207);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
}

#getInfo{
    font-size: 40px;
    margin: 20px;
}

.resultado{
   background-color: rgb(48, 44, 44); 
   padding: 20px;
   font-size: 19px;
}