body {
    color: rgb(246, 244, 244);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.materias{
    width: 90%;
    background-color: #858181;
    padding: 2px;
    font-size: larger;
}

.materia{
    background-color: cadetblue;
    display: flex;
}

.materia div{
    padding: 20px;
}

.materia .nota{
    flex-basis: 60px;
    background-color: chocolate;
    font-weight: 700;
    text-align: center;
}

.materia .nombre{
    flex-grow: 1;
}